# Imports

In [1]:
# add to sys.path
import sys

sys.path.insert(0, "../")
sys.path.insert(0, "../src")

In [2]:
import time
import logging
import pandas as pd
from datetime import datetime, timedelta, timezone
from dateutil.relativedelta import relativedelta
from google.cloud import bigquery
import plaid

# SCHEMAS
from schemas.bq_table_schemas import BqTableSchemas
from schemas.cloud_schemas import CloudSchemas


# UTILS
from utils.bq_utils import BqUtils
from utils.gcp_utils import GcpUtils
from utils.plaid_utils import PlaidUtils
from utils.secrets_utils import SecretsUtils
from utils.crypto_utils import CryptoUtils
from utils.budget_values import BudgetValues
from jobs.financial_accounts import FinancialAccounts
from jobs.plaid_transactions import PlaidTransactions
from jobs.plaid_investments import PlaidInvestments


# get all secrets
sec = SecretsUtils()
secrets = sec.create_secrets_dict(plaid_secret_type="PROD")
PLAID_CLIENT_ID = secrets["PLAID_CLIENT_ID"]
PLAID_SECRET = secrets["PLAID_SECRET_PROD"]
PLAID_ACCESS_TOKENS = sec.get_access_token_secrets(secrets)
PLAID_HOST = plaid.Environment.Production
PLAID_PRODUCTS = ["liabilities", "transactions", "investments"]
PLAID_COUNTRY_CODES = ["US"]
CRYPTO_SECRETS = secrets["CRYPTO_SECRETS"]

# initialize clients
bq_client = bigquery.Client()
bq = BqUtils(bq_client=bq_client)
plaid_client = PlaidUtils(bq_client, PLAID_CLIENT_ID, PLAID_SECRET, PLAID_HOST)
financial_accounts = FinancialAccounts(bq_client, plaid_client)
plaid_transactions = PlaidTransactions(bq_client, plaid_client)
plaid_investments = PlaidInvestments(bq_client, plaid_client)
budget_values = BudgetValues(bq_client)
crypto = CryptoUtils()
bq_tables = BqTableSchemas()
gcp = GcpUtils(bq_client=bq_client)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 1000)

# Run Budget Values

In [3]:
offset = bq.get_date_offset(date_str="2022-10", partition_format="YYYYMM")
print(offset)

for i in range(offset, 1):
    # print(bq.get_partition_date(i, partition_format="YYYYMM"))
    budget_values.upload_budget_values_df_to_bq(offset=i)

-22
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202210`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202211`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202212`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202301`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202302`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202303`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202304`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202305`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202306`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202307`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202308`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202309`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202310`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202311`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202312`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202401`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202402`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202403`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202404`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202405`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202406`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202407`
SUCCESS: df uploaded to `zsc-personal.budget_values.budget_values_202408`

# Budget Values Backfill Analysis

In [4]:
trans_df = bq.query("""
SELECT 
    DATE_TRUNC(transaction_date, MONTH) AS transaction_month,
    category_raw,
    subcategory_raw,
    category_updated,
    subcategory_updated,
    category,
    subcategory,
    ROUND(SUM(actual_amount), 3) AS amount
FROM `zsc-personal.personal_finance.personal_finance_tableau_20240811`
WHERE metric_category = "TRANSACTIONS"
GROUP BY 1,2,3,4,5,6,7
""")

In [5]:
# calculate median
trans_df['median_per_category'] = trans_df.groupby(["category_raw", "subcategory_raw", "category_updated", "subcategory_updated", "category", "subcategory", ])['amount'].transform('median')

# sort df
trans_df.sort_values(by=["subcategory_updated", "transaction_month"], inplace=True)

# create category list to iterate 
categories = list(trans_df["subcategory_updated"].unique())

print(trans_df.shape)
len(categories)

(579, 9)

67

In [6]:
for category in categories:
    print(category)
    
    # Make a copy of the sliced DataFrame to avoid SettingWithCopyWarning
    category_df = trans_df[trans_df["subcategory_updated"] == category].copy()

    category_df['transaction_month'] = category_df['transaction_month'].astype(str)
    
    
    amount_dict = category_df.set_index('transaction_month')['amount'].to_dict()
    median_dict = category_df.set_index('transaction_month')['median_per_category'].to_dict()

    display(category_df)
    
    print("ACTUAL AMOUNT")
    print(amount_dict)

    print("\nMEDIAN AMOUNT")
    print(median_dict)
    
    print()

BANK_FEES_ATM_FEES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
366,2023-03-01,BANK_FEES,BANK_FEES_ATM_FEES,BANK_FEES,BANK_FEES_ATM_FEES,Personal Spending,Bank Fees,-2.5,-3.75
365,2023-05-01,BANK_FEES,BANK_FEES_ATM_FEES,BANK_FEES,BANK_FEES_ATM_FEES,Personal Spending,Bank Fees,-5.0,-3.75

ACTUAL AMOUNT
{'2023-03-01': -2.5, '2023-05-01': -5.0}

MEDIAN AMOUNT
{'2023-03-01': -3.75, '2023-05-01': -3.75}

BANK_FEES_OTHER_BANK_FEES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
340,2023-12-01,BANK_FEES,BANK_FEES_OTHER_BANK_FEES,BANK_FEES,BANK_FEES_OTHER_BANK_FEES,Personal Spending,Bank Fees,-2.5,-2.5
341,2024-06-01,BANK_FEES,BANK_FEES_OTHER_BANK_FEES,BANK_FEES,BANK_FEES_OTHER_BANK_FEES,Personal Spending,Bank Fees,-2.5,-2.5

ACTUAL AMOUNT
{'2023-12-01': -2.5, '2024-06-01': -2.5}

MEDIAN AMOUNT
{'2023-12-01': -2.5, '2024-06-01': -2.5}

ENTERTAINMENT_CASINOS_AND_GAMBLING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
476,2023-11-01,ENTERTAINMENT,ENTERTAINMENT_CASINOS_AND_GAMBLING,ENTERTAINMENT,ENTERTAINMENT_CASINOS_AND_GAMBLING,Personal Spending,Entertainment,-32.0,-28.5
477,2024-07-01,ENTERTAINMENT,ENTERTAINMENT_CASINOS_AND_GAMBLING,ENTERTAINMENT,ENTERTAINMENT_CASINOS_AND_GAMBLING,Personal Spending,Entertainment,-25.0,-28.5

ACTUAL AMOUNT
{'2023-11-01': -32.0, '2024-07-01': -25.0}

MEDIAN AMOUNT
{'2023-11-01': -28.5, '2024-07-01': -28.5}

ENTERTAINMENT_MUSIC_AND_AUDIO

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
563,2023-05-01,ENTERTAINMENT,ENTERTAINMENT_MUSIC_AND_AUDIO,ENTERTAINMENT,ENTERTAINMENT_MUSIC_AND_AUDIO,Personal Spending,Entertainment,-7.05,-7.05

ACTUAL AMOUNT
{'2023-05-01': -7.05}

MEDIAN AMOUNT
{'2023-05-01': -7.05}

ENTERTAINMENT_OTHER_ENTERTAINMENT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
463,2023-12-01,MEDICAL,MEDICAL_OTHER_MEDICAL,ENTERTAINMENT,ENTERTAINMENT_OTHER_ENTERTAINMENT,Personal Spending,Entertainment,-42.0,-32.0
459,2024-06-01,ENTERTAINMENT,ENTERTAINMENT_OTHER_ENTERTAINMENT,ENTERTAINMENT,ENTERTAINMENT_OTHER_ENTERTAINMENT,Personal Spending,Entertainment,-10.0,-10.0
462,2024-06-01,MEDICAL,MEDICAL_OTHER_MEDICAL,ENTERTAINMENT,ENTERTAINMENT_OTHER_ENTERTAINMENT,Personal Spending,Entertainment,-22.0,-32.0

ACTUAL AMOUNT
{'2023-12-01': -42.0, '2024-06-01': -22.0}

MEDIAN AMOUNT
{'2023-12-01': -32.0, '2024-06-01': -32.0}

ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
452,2023-03-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-153.96,-289.34
455,2023-04-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-74.93,-289.34
446,2023-05-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-289.38,-289.34
447,2023-06-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-200.94,-289.34
450,2023-07-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-2431.85,-289.34
453,2023-08-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-52.35,-289.34
451,2023-12-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-716.26,-289.34
454,2024-01-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-296.64,-289.34
449,2024-02-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-289.34,-289.34
458,2024-03-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-459.38,-289.34
457,2024-04-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-418.70,-289.34
448,2024-05-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-316.08,-289.34
461,2024-06-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-59.43,-289.34
456,2024-07-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-265.06,-289.34
460,2024-08-01,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,ENTERTAINMENT,ENTERTAINMENT_SPORTING_EVENTS_AMUSEMENT_PARKS_AND_MUSEUMS,Personal Spending,Entertainment,-101.22,-289.34

ACTUAL AMOUNT
{'2023-03-01': -153.96, '2023-04-01': -74.93, '2023-05-01': -289.38, '2023-06-01': -200.94, '2023-07-01': -2431.85, '2023-08-01': -52.35, '2023-12-01': -716.26, '2024-01-01': -296.64, '2024-02-01': -289.34, '2024-03-01': -459.38, '2024-04-01': -418.7, '2024-05-01': -316.08, '2024-06-01': -59.43, '2024-07-01': -265.06, '2024-08-01': -101.22}

MEDIAN AMOUNT
{'2023-03-01': -289.34, '2023-04-01': -289.34, '2023-05-01': -289.34, '2023-06-01': -289.34, '2023-07-01': -289.34, '2023-08-01': -289.34, '2023-12-01': -289.34, '2024-01-01': -289.34, '2024-02-01': -289.34, '2024-03-01': -289.34, '2024-04-01': -289.34, '2024-05-01': -289.34, '2024-06-01': -289.34, '2024-07-01': -289.34, '2024-08-01': -289.34}

ENTERTAINMENT_TV_AND_MOVIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
559,2023-04-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-52.47,-20.28
556,2023-05-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-4.33,-20.28
555,2023-08-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-38.45,-20.28
551,2023-09-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-38.97,-20.28
557,2023-10-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-21.56,-20.28
549,2023-11-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-4.33,-20.28
553,2023-12-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-4.33,-20.28
552,2024-01-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-1.08,-20.28
558,2024-02-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-20.28,-20.28
554,2024-03-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-29.72,-20.28
550,2024-07-01,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,ENTERTAINMENT,ENTERTAINMENT_TV_AND_MOVIES,Personal Spending,Entertainment,-10.85,-20.28

ACTUAL AMOUNT
{'2023-04-01': -52.47, '2023-05-01': -4.33, '2023-08-01': -38.45, '2023-09-01': -38.97, '2023-10-01': -21.56, '2023-11-01': -4.33, '2023-12-01': -4.33, '2024-01-01': -1.08, '2024-02-01': -20.28, '2024-03-01': -29.72, '2024-07-01': -10.85}

MEDIAN AMOUNT
{'2023-04-01': -20.28, '2023-05-01': -20.28, '2023-08-01': -20.28, '2023-09-01': -20.28, '2023-10-01': -20.28, '2023-11-01': -20.28, '2023-12-01': -20.28, '2024-01-01': -20.28, '2024-02-01': -20.28, '2024-03-01': -20.28, '2024-07-01': -20.28}

ENTERTAINMENT_VIDEO_GAMES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
526,2023-09-01,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,Personal Spending,Entertainment,-32.49,-56.955
527,2023-10-01,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,Personal Spending,Entertainment,-21.71,-56.955
524,2023-12-01,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,Personal Spending,Entertainment,-81.42,-56.955
525,2024-01-01,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES,Personal Spending,Entertainment,-275.35,-56.955

ACTUAL AMOUNT
{'2023-09-01': -32.49, '2023-10-01': -21.71, '2023-12-01': -81.42, '2024-01-01': -275.35}

MEDIAN AMOUNT
{'2023-09-01': -56.955, '2023-10-01': -56.955, '2023-12-01': -56.955, '2024-01-01': -56.955}

FOOD_AND_DRINK_BEER_WINE_AND_LIQUOR

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
479,2023-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_BEER_WINE_AND_LIQUOR,FOOD_AND_DRINK,FOOD_AND_DRINK_BEER_WINE_AND_LIQUOR,Personal Spending,Food and Drink,-23.34,-77.49
478,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_BEER_WINE_AND_LIQUOR,FOOD_AND_DRINK,FOOD_AND_DRINK_BEER_WINE_AND_LIQUOR,Personal Spending,Food and Drink,-131.64,-77.49

ACTUAL AMOUNT
{'2023-07-01': -23.34, '2024-06-01': -131.64}

MEDIAN AMOUNT
{'2023-07-01': -77.49, '2024-06-01': -77.49}

FOOD_AND_DRINK_COFFEE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
466,2023-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-52.22,-11.3
472,2023-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-13.14,-11.3
467,2023-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-9.69,-11.3
474,2023-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-11.32,-11.3
470,2023-09-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-11.28,-11.3
464,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-14.49,-11.3
469,2023-11-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-54.16,-11.3
475,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-4.32,-11.3
471,2024-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-9.49,-11.3
468,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-15.78,-11.3
473,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-4.89,-11.3
465,2024-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,FOOD_AND_DRINK,FOOD_AND_DRINK_COFFEE,Personal Spending,Food and Drink,-8.58,-11.3

ACTUAL AMOUNT
{'2023-03-01': -52.22, '2023-04-01': -13.14, '2023-07-01': -9.69, '2023-08-01': -11.32, '2023-09-01': -11.28, '2023-10-01': -14.49, '2023-11-01': -54.16, '2023-12-01': -4.32, '2024-03-01': -9.49, '2024-04-01': -15.78, '2024-06-01': -4.89, '2024-07-01': -8.58}

MEDIAN AMOUNT
{'2023-03-01': -11.3, '2023-04-01': -11.3, '2023-07-01': -11.3, '2023-08-01': -11.3, '2023-09-01': -11.3, '2023-10-01': -11.3, '2023-11-01': -11.3, '2023-12-01': -11.3, '2024-03-01': -11.3, '2024-04-01': -11.3, '2024-06-01': -11.3, '2024-07-01': -11.3}

FOOD_AND_DRINK_FAST_FOOD

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
513,2023-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-44.42,-44.42
512,2023-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-47.89,-44.42
520,2023-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-12.38,-44.42
510,2023-09-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-73.17,-44.42
517,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-50.94,-44.42
511,2023-11-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-45.22,-44.42
516,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-59.85,-44.42
518,2024-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-34.35,-44.42
514,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-8.61,-44.42
519,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-14.01,-44.42
515,2024-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,FOOD_AND_DRINK,FOOD_AND_DRINK_FAST_FOOD,Personal Spending,Food and Drink,-28.78,-44.42

ACTUAL AMOUNT
{'2023-03-01': -44.42, '2023-05-01': -47.89, '2023-08-01': -12.38, '2023-09-01': -73.17, '2023-10-01': -50.94, '2023-11-01': -45.22, '2023-12-01': -59.85, '2024-03-01': -34.35, '2024-04-01': -8.61, '2024-06-01': -14.01, '2024-07-01': -28.78}

MEDIAN AMOUNT
{'2023-03-01': -44.42, '2023-05-01': -44.42, '2023-08-01': -44.42, '2023-09-01': -44.42, '2023-10-01': -44.42, '2023-11-01': -44.42, '2023-12-01': -44.42, '2024-03-01': -44.42, '2024-04-01': -44.42, '2024-06-01': -44.42, '2024-07-01': -44.42}

FOOD_AND_DRINK_GROCERIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
85,2023-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-203.00,-117.13
95,2023-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-274.43,-117.13
90,2023-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-297.50,-117.13
86,2023-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-274.43,-117.13
91,2023-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-75.47,-117.13
94,2023-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-304.92,-117.13
99,2023-09-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-67.32,-117.13
98,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-27.49,-117.13
96,2023-11-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-18.57,-117.13
89,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-117.13,-117.13
93,2024-01-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-91.25,-117.13
92,2024-02-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-161.17,-117.13
87,2024-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-376.47,-117.13
88,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-47.47,-117.13
83,2024-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-211.93,-117.13
97,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-4.62,-117.13
84,2024-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,Expenses,Groceries,-78.31,-117.13

ACTUAL AMOUNT
{'2023-03-01': -203.0, '2023-04-01': -274.43, '2023-05-01': -297.5, '2023-06-01': -274.43, '2023-07-01': -75.47, '2023-08-01': -304.92, '2023-09-01': -67.32, '2023-10-01': -27.49, '2023-11-01': -18.57, '2023-12-01': -117.13, '2024-01-01': -91.25, '2024-02-01': -161.17, '2024-03-01': -376.47, '2024-04-01': -47.47, '2024-05-01': -211.93, '2024-06-01': -4.62, '2024-07-01': -78.31}

MEDIAN AMOUNT
{'2023-03-01': -117.13, '2023-04-01': -117.13, '2023-05-01': -117.13, '2023-06-01': -117.13, '2023-07-01': -117.13, '2023-08-01': -117.13, '2023-09-01': -117.13, '2023-10-01': -117.13, '2023-11-01': -117.13, '2023-12-01': -117.13, '2024-01-01': -117.13, '2024-02-01': -117.13, '2024-03-01': -117.13, '2024-04-01': -117.13, '2024-05-01': -117.13, '2024-06-01': -117.13, '2024-07-01': -117.13}

FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
414,2023-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-25.48,-13.41
411,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-40.00,-40.00
406,2023-06-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-40.00,-40.00
408,2023-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-13.83,-13.41
407,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-8.73,-13.41
409,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-4.62,-13.41
412,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-12.99,-13.41
415,2024-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-6.98,-13.41
413,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-21.72,-13.41
410,2024-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,FOOD_AND_DRINK,FOOD_AND_DRINK_OTHER_FOOD_AND_DRINK,Personal Spending,Food and Drink,-22.53,-13.41

ACTUAL AMOUNT
{'2023-03-01': -25.48, '2023-05-01': -40.0, '2023-06-01': -40.0, '2023-07-01': -13.83, '2023-10-01': -8.73, '2023-12-01': -4.62, '2024-04-01': -12.99, '2024-05-01': -6.98, '2024-06-01': -21.72, '2024-07-01': -22.53}

MEDIAN AMOUNT
{'2023-03-01': -13.41, '2023-05-01': -40.0, '2023-06-01': -40.0, '2023-07-01': -13.41, '2023-10-01': -13.41, '2023-12-01': -13.41, '2024-04-01': -13.41, '2024-05-01': -13.41, '2024-06-01': -13.41, '2024-07-01': -13.41}

FOOD_AND_DRINK_RESTAURANT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
531,2023-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-81.48,-279.86
542,2023-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-56.30,-279.86
532,2023-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-291.24,-279.86
545,2023-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-57.67,-279.86
536,2023-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-283.67,-279.86
544,2023-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-92.69,-279.86
535,2023-09-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-75.87,-279.86
529,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-129.63,-279.86
541,2023-11-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-276.05,-279.86
534,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-359.19,-279.86
538,2024-01-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-257.55,-279.86
530,2024-02-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-291.63,-279.86
533,2024-03-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-313.33,-279.86
528,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-419.94,-279.86
540,2024-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-360.36,-279.86
539,2024-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-291.44,-279.86
537,2024-07-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-538.73,-279.86
543,2024-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,Personal Spending,Food and Drink,-9.89,-279.86

ACTUAL AMOUNT
{'2023-03-01': -81.48, '2023-04-01': -56.3, '2023-05-01': -291.24, '2023-06-01': -57.67, '2023-07-01': -283.67, '2023-08-01': -92.69, '2023-09-01': -75.87, '2023-10-01': -129.63, '2023-11-01': -276.05, '2023-12-01': -359.19, '2024-01-01': -257.55, '2024-02-01': -291.63, '2024-03-01': -313.33, '2024-04-01': -419.94, '2024-05-01': -360.36, '2024-06-01': -291.44, '2024-07-01': -538.73, '2024-08-01': -9.89}

MEDIAN AMOUNT
{'2023-03-01': -279.86, '2023-04-01': -279.86, '2023-05-01': -279.86, '2023-06-01': -279.86, '2023-07-01': -279.86, '2023-08-01': -279.86, '2023-09-01': -279.86, '2023-10-01': -279.86, '2023-11-01': -279.86, '2023-12-01': -279.86, '2024-01-01': -279.86, '2024-02-01': -279.86, '2024-03-01': -279.86, '2024-04-01': -279.86, '2024-05-01': -279.86, '2024-06-01': -279.86, '2024-07-01': -279.86, '2024-08-01': -279.86}

GENERAL_MERCHANDISE_BOOKSTORES_AND_NEWSSTANDS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
296,2023-10-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_BOOKSTORES_AND_NEWSSTANDS,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_BOOKSTORES_AND_NEWSSTANDS,Personal Spending,Shopping,-50.0,-50.0

ACTUAL AMOUNT
{'2023-10-01': -50.0}

MEDIAN AMOUNT
{'2023-10-01': -50.0}

GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
361,2023-12-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,Personal Spending,Shopping,-38.00,-46.42
362,2024-02-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,Personal Spending,Shopping,-5.88,-46.42
363,2024-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,Personal Spending,Shopping,-54.84,-46.42
364,2024-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,Personal Spending,Shopping,-74.97,-46.42

ACTUAL AMOUNT
{'2023-12-01': -38.0, '2024-02-01': -5.88, '2024-03-01': -54.84, '2024-05-01': -74.97}

MEDIAN AMOUNT
{'2023-12-01': -46.42, '2024-02-01': -46.42, '2024-03-01': -46.42, '2024-05-01': -46.42}

GENERAL_MERCHANDISE_CONVENIENCE_STORES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
561,2023-12-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,Personal Spending,Shopping,-16.82,-16.82
562,2024-02-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,Personal Spending,Shopping,-7.49,-16.82
560,2024-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CONVENIENCE_STORES,Personal Spending,Shopping,-29.89,-16.82

ACTUAL AMOUNT
{'2023-12-01': -16.82, '2024-02-01': -7.49, '2024-03-01': -29.89}

MEDIAN AMOUNT
{'2023-12-01': -16.82, '2024-02-01': -16.82, '2024-03-01': -16.82}

GENERAL_MERCHANDISE_DISCOUNT_STORES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
521,2024-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_DISCOUNT_STORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_DISCOUNT_STORES,Personal Spending,Shopping,-12.85,-10.23
522,2024-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_DISCOUNT_STORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_DISCOUNT_STORES,Personal Spending,Shopping,-7.61,-10.23

ACTUAL AMOUNT
{'2024-04-01': -12.85, '2024-07-01': -7.61}

MEDIAN AMOUNT
{'2024-04-01': -10.23, '2024-07-01': -10.23}

GENERAL_MERCHANDISE_ELECTRONICS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
417,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ELECTRONICS,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ELECTRONICS,Personal Spending,Shopping,-275.95,-191.73
416,2024-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ELECTRONICS,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ELECTRONICS,Personal Spending,Shopping,-107.51,-191.73

ACTUAL AMOUNT
{'2023-07-01': -275.95, '2024-04-01': -107.51}

MEDIAN AMOUNT
{'2023-07-01': -191.73, '2024-04-01': -191.73}

GENERAL_MERCHANDISE_GIFTS_AND_NOVELTIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
294,2023-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_GIFTS_AND_NOVELTIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_GIFTS_AND_NOVELTIES,Personal Spending,Shopping,-153.75,-93.165
295,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_GIFTS_AND_NOVELTIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_GIFTS_AND_NOVELTIES,Personal Spending,Shopping,-32.58,-93.165

ACTUAL AMOUNT
{'2023-04-01': -153.75, '2023-07-01': -32.58}

MEDIAN AMOUNT
{'2023-04-01': -93.16499999999999, '2023-07-01': -93.16499999999999}

GENERAL_MERCHANDISE_ONLINE_MARKETPLACES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
347,2023-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-204.24,-164.830
355,2023-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-179.26,-164.830
357,2023-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-210.97,-164.830
342,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-37.54,-164.830
345,2023-08-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-756.01,-164.830
346,2023-09-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-130.11,-164.830
354,2023-10-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-110.55,-164.830
352,2023-11-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-63.16,-164.830
343,2023-12-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-344.60,-164.830
356,2024-01-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-64.00,-164.830
348,2024-02-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-193.23,-164.830
344,2024-03-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-155.28,-6.285
349,2024-04-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-4.12,-6.285
350,2024-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-150.40,-164.830
351,2024-05-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-8.45,-6.285
353,2024-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-362.58,-164.830
359,2024-06-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-4.12,-6.285
358,2024-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES,Personal Spending,Shopping,-6.20,-164.830

ACTUAL AMOUNT
{'2023-04-01': -204.24, '2023-05-01': -179.26, '2023-06-01': -210.97, '2023-07-01': -37.54, '2023-08-01': -756.01, '2023-09-01': -130.11, '2023-10-01': -110.55, '2023-11-01': -63.16, '2023-12-01': -344.6, '2024-01-01': -64.0, '2024-02-01': -193.23, '2024-03-01': -155.28, '2024-04-01': -150.4, '2024-05-01': -362.58, '2024-06-01': -4.12, '2024-07-01': -6.2}

MEDIAN AMOUNT
{'2023-04-01': -164.82999999999998, '2023-05-01': -164.82999999999998, '2023-06-01': -164.82999999999998, '2023-07-01': -164.82999999999998, '2023-08-01': -164.82999999999998, '2023-09-01': -164.82999999999998, '2023-10-01': -164.82999999999998, '2023-11-01': -164.82999999999998, '2023-12-01': -164.82999999999998, '2024-01-01': -164.82999999999998, '2024-02-01': -164.82999999999998, '2024-03-01': -6.285, '2024-04-01': -164.82999999999998, '2024-05-01': -164.82999999999998, '2024-06-01': -6.285, '2024-07-01': -164.82999999999998}

GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
298,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,Personal Spending,Shopping,-85.79,-85.79
316,2024-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,Personal Spending,Shopping,-120.46,-85.79
299,2024-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,Personal Spending,Shopping,-5.98,-85.79

ACTUAL AMOUNT
{'2023-07-01': -85.79, '2024-03-01': -120.46, '2024-06-01': -5.98}

MEDIAN AMOUNT
{'2023-07-01': -85.79, '2024-03-01': -85.79, '2024-06-01': -85.79}

GENERAL_MERCHANDISE_PET_SUPPLIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
23,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_PET_SUPPLIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_PET_SUPPLIES,Expenses,Pets,-47.75,-40.66
24,2024-02-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_PET_SUPPLIES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_PET_SUPPLIES,Expenses,Pets,-33.57,-40.66

ACTUAL AMOUNT
{'2023-07-01': -47.75, '2024-02-01': -33.57}

MEDIAN AMOUNT
{'2023-07-01': -40.66, '2024-02-01': -40.66}

GENERAL_MERCHANDISE_SPORTING_GOODS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
509,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SPORTING_GOODS,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SPORTING_GOODS,Personal Spending,Shopping,-8.75,-8.75

ACTUAL AMOUNT
{'2023-07-01': -8.75}

MEDIAN AMOUNT
{'2023-07-01': -8.75}

GENERAL_MERCHANDISE_SUPERSTORES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
431,2023-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-301.84,-208.355
428,2023-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-56.73,-208.355
421,2023-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-114.75,-208.355
423,2023-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-137.64,-208.355
422,2023-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-614.17,-208.355
429,2023-08-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-301.24,-208.355
418,2023-09-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-480.83,-208.355
420,2023-10-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-218.01,-208.355
426,2023-11-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-158.27,-208.355
432,2023-12-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-219.29,-208.355
424,2024-01-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-213.91,-208.355
427,2024-02-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-69.61,-208.355
433,2024-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-202.80,-208.355
425,2024-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-214.77,-208.355
430,2024-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-4.72,-208.355
419,2024-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_SUPERSTORES,Personal Spending,Shopping,-139.43,-208.355

ACTUAL AMOUNT
{'2023-03-01': -301.84, '2023-04-01': -56.73, '2023-05-01': -114.75, '2023-06-01': -137.64, '2023-07-01': -614.17, '2023-08-01': -301.24, '2023-09-01': -480.83, '2023-10-01': -218.01, '2023-11-01': -158.27, '2023-12-01': -219.29, '2024-01-01': -213.91, '2024-02-01': -69.61, '2024-03-01': -202.8, '2024-04-01': -214.77, '2024-06-01': -4.72, '2024-07-01': -139.43}

MEDIAN AMOUNT
{'2023-03-01': -208.35500000000002, '2023-04-01': -208.35500000000002, '2023-05-01': -208.35500000000002, '2023-06-01': -208.35500000000002, '2023-07-01': -208.35500000000002, '2023-08-01': -208.35500000000002, '2023-09-01': -208.35500000000002, '2023-10-01': -208.35500000000002, '2023-11-01': -208.35500000000002, '2023-12-01': -208.35500000000002, '2024-01-01': -208.35500000000002, '2024-02-01': -208.35500000000002, '2024-03-01': -208.35500000000002, '2024-04-01': -208.35500000000002, '2024-06-01': -208.35500000000002, '2024-07-01': -208.35500000000002}

GENERAL_SERVICES_ACCOUNTING_AND_FINANCIAL_PLANNING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
360,2024-03-01,GENERAL_SERVICES,GENERAL_SERVICES_ACCOUNTING_AND_FINANCIAL_PLANNING,GENERAL_SERVICES,GENERAL_SERVICES_ACCOUNTING_AND_FINANCIAL_PLANNING,Expenses,Financial Planning,-193.3,-193.3

ACTUAL AMOUNT
{'2024-03-01': -193.3}

MEDIAN AMOUNT
{'2024-03-01': -193.3}

GENERAL_SERVICES_AUTOMOTIVE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
113,2023-04-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-46.94,-20.0
124,2023-05-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-16.95,-20.0
111,2023-06-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-16.95,-20.0
125,2023-07-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-16.95,-20.0
115,2023-09-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-538.71,-20.0
121,2023-10-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-25.00,-20.0
118,2023-11-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
119,2023-12-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
112,2024-01-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
123,2024-02-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
110,2024-03-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-261.63,-20.0
120,2024-04-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
116,2024-05-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
117,2024-06-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-235.12,-20.0
114,2024-07-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-20.00,-20.0
122,2024-08-01,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,GENERAL_SERVICES,GENERAL_SERVICES_AUTOMOTIVE,Expenses,Car,-142.92,-20.0

ACTUAL AMOUNT
{'2023-04-01': -46.94, '2023-05-01': -16.95, '2023-06-01': -16.95, '2023-07-01': -16.95, '2023-09-01': -538.71, '2023-10-01': -25.0, '2023-11-01': -20.0, '2023-12-01': -20.0, '2024-01-01': -20.0, '2024-02-01': -20.0, '2024-03-01': -261.63, '2024-04-01': -20.0, '2024-05-01': -20.0, '2024-06-01': -235.12, '2024-07-01': -20.0, '2024-08-01': -142.92}

MEDIAN AMOUNT
{'2023-04-01': -20.0, '2023-05-01': -20.0, '2023-06-01': -20.0, '2023-07-01': -20.0, '2023-09-01': -20.0, '2023-10-01': -20.0, '2023-11-01': -20.0, '2023-12-01': -20.0, '2024-01-01': -20.0, '2024-02-01': -20.0, '2024-03-01': -20.0, '2024-04-01': -20.0, '2024-05-01': -20.0, '2024-06-01': -20.0, '2024-07-01': -20.0, '2024-08-01': -20.0}

GENERAL_SERVICES_EDUCATION

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
211,2023-03-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-77.06,-90.35
213,2023-05-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-3411.67,-90.35
218,2023-06-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-103.64,-90.35
215,2023-07-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-21.67,-90.35
220,2023-08-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-1768.00,-90.35
219,2023-09-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-39.09,-90.35
216,2023-10-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-4021.67,-90.35
209,2023-11-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-8.00,-90.35
208,2023-12-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-332.57,-90.35
210,2024-01-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-154.35,-90.35
214,2024-03-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-9.95,-90.35
217,2024-03-01,TRAVEL,TRAVEL_LODGING,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-4000.00,-4000.00
212,2024-04-01,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,GENERAL_SERVICES,GENERAL_SERVICES_EDUCATION,Expenses,Education,-32.44,-90.35

ACTUAL AMOUNT
{'2023-03-01': -77.06, '2023-05-01': -3411.67, '2023-06-01': -103.64, '2023-07-01': -21.67, '2023-08-01': -1768.0, '2023-09-01': -39.09, '2023-10-01': -4021.67, '2023-11-01': -8.0, '2023-12-01': -332.57, '2024-01-01': -154.35, '2024-03-01': -4000.0, '2024-04-01': -32.44}

MEDIAN AMOUNT
{'2023-03-01': -90.35, '2023-05-01': -90.35, '2023-06-01': -90.35, '2023-07-01': -90.35, '2023-08-01': -90.35, '2023-09-01': -90.35, '2023-10-01': -90.35, '2023-11-01': -90.35, '2023-12-01': -90.35, '2024-01-01': -90.35, '2024-03-01': -4000.0, '2024-04-01': -90.35}

GENERAL_SERVICES_INSURANCE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
106,2023-03-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-6.92,-53.05
107,2023-04-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-24.45,-53.05
101,2023-05-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-626.89,-53.05
108,2023-06-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-6.92,-53.05
100,2023-07-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-69.06,-53.05
109,2023-09-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-758.50,-53.05
104,2023-12-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-46.27,-53.05
103,2024-04-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-698.85,-53.05
102,2024-07-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,-59.83,-53.05
105,2024-08-01,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,Expenses,Insurance,225.08,-53.05

ACTUAL AMOUNT
{'2023-03-01': -6.92, '2023-04-01': -24.45, '2023-05-01': -626.89, '2023-06-01': -6.92, '2023-07-01': -69.06, '2023-09-01': -758.5, '2023-12-01': -46.27, '2024-04-01': -698.85, '2024-07-01': -59.83, '2024-08-01': 225.08}

MEDIAN AMOUNT
{'2023-03-01': -53.05, '2023-04-01': -53.05, '2023-05-01': -53.05, '2023-06-01': -53.05, '2023-07-01': -53.05, '2023-09-01': -53.05, '2023-12-01': -53.05, '2024-04-01': -53.05, '2024-07-01': -53.05, '2024-08-01': -53.05}

GENERAL_SERVICES_OTHER_GENERAL_SERVICES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
314,2023-03-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-115.66,-95.995
310,2023-04-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-95.00,-95.995
307,2024-01-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-38.97,-95.995
301,2024-02-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-342.28,-95.995
305,2024-04-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-95.00,-95.995
313,2024-05-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,Personal Spending,Shopping,-96.99,-95.995

ACTUAL AMOUNT
{'2023-03-01': -115.66, '2023-04-01': -95.0, '2024-01-01': -38.97, '2024-02-01': -342.28, '2024-04-01': -95.0, '2024-05-01': -96.99}

MEDIAN AMOUNT
{'2023-03-01': -95.995, '2023-04-01': -95.995, '2024-01-01': -95.995, '2024-02-01': -95.995, '2024-04-01': -95.995, '2024-05-01': -95.995}

GENERAL_SERVICES_POSTAGE_AND_SHIPPING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
175,2023-04-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-104.04,-90.22
174,2023-07-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-90.22,-90.22
176,2023-09-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-13.49,-90.22
172,2024-01-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-3.26,-90.22
173,2024-06-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-15.10,-90.22
171,2024-07-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-93.06,-90.22
177,2024-08-01,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,GENERAL_SERVICES,GENERAL_SERVICES_POSTAGE_AND_SHIPPING,Personal Spending,Shipping,-564.34,-90.22

ACTUAL AMOUNT
{'2023-04-01': -104.04, '2023-07-01': -90.22, '2023-09-01': -13.49, '2024-01-01': -3.26, '2024-06-01': -15.1, '2024-07-01': -93.06, '2024-08-01': -564.34}

MEDIAN AMOUNT
{'2023-04-01': -90.22, '2023-07-01': -90.22, '2023-09-01': -90.22, '2024-01-01': -90.22, '2024-06-01': -90.22, '2024-07-01': -90.22, '2024-08-01': -90.22}

GENERAL_SERVICES_STORAGE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
63,2024-07-01,GENERAL_SERVICES,GENERAL_SERVICES_STORAGE,GENERAL_SERVICES,GENERAL_SERVICES_STORAGE,Expenses,Storage,-314.15,-314.15

ACTUAL AMOUNT
{'2024-07-01': -314.15}

MEDIAN AMOUNT
{'2024-07-01': -314.15}

GENERAL_SERVICES_TECH

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
49,2023-11-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-21.72,-21.72
57,2023-12-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-21.72,-21.72
52,2024-01-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-21.72,-21.72
50,2024-02-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-21.72,-21.72
51,2024-03-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-21.72,-21.72
58,2024-05-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-0.60,-21.72
53,2024-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-0.36,-1.78
54,2024-06-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-2.00,-21.72
56,2024-07-01,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-2.00,-21.72
59,2024-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-1.78,-1.78
55,2024-08-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,GENERAL_SERVICES,GENERAL_SERVICES_TECH,Expenses,Tech,-2.45,-1.78

ACTUAL AMOUNT
{'2023-11-01': -21.72, '2023-12-01': -21.72, '2024-01-01': -21.72, '2024-02-01': -21.72, '2024-03-01': -21.72, '2024-05-01': -0.6, '2024-06-01': -2.0, '2024-07-01': -1.78, '2024-08-01': -2.45}

MEDIAN AMOUNT
{'2023-11-01': -21.72, '2023-12-01': -21.72, '2024-01-01': -21.72, '2024-02-01': -21.72, '2024-03-01': -21.72, '2024-05-01': -21.72, '2024-06-01': -21.72, '2024-07-01': -1.78, '2024-08-01': -1.78}

GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
166,2023-03-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,Expenses,Govt Departments,-4.00,-37.815
167,2023-09-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,Expenses,Govt Departments,-58.00,-37.815
165,2023-12-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,Expenses,Govt Departments,-17.63,-37.815
164,2024-01-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_GOVERNMENT_DEPARTMENTS_AND_AGENCIES,Expenses,Govt Departments,-419.00,-37.815

ACTUAL AMOUNT
{'2023-03-01': -4.0, '2023-09-01': -58.0, '2023-12-01': -17.63, '2024-01-01': -419.0}

MEDIAN AMOUNT
{'2023-03-01': -37.815, '2023-09-01': -37.815, '2023-12-01': -37.815, '2024-01-01': -37.815}

GOVERNMENT_AND_NON_PROFIT_TAX_PAYMENT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
338,2023-03-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_TAX_PAYMENT,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_TAX_PAYMENT,Expenses,Financial Planning,-4200.0,-2264.5
339,2024-03-01,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_TAX_PAYMENT,GOVERNMENT_AND_NON_PROFIT,GOVERNMENT_AND_NON_PROFIT_TAX_PAYMENT,Expenses,Financial Planning,-329.0,-2264.5

ACTUAL AMOUNT
{'2023-03-01': -4200.0, '2024-03-01': -329.0}

MEDIAN AMOUNT
{'2023-03-01': -2264.5, '2024-03-01': -2264.5}

HOME_IMPROVEMENT_HARDWARE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
548,2023-04-01,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,Personal Spending,Home Improvement,-14.31,-21.72
546,2023-07-01,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,Personal Spending,Home Improvement,-136.89,-21.72
547,2023-08-01,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,HOME_IMPROVEMENT,HOME_IMPROVEMENT_HARDWARE,Personal Spending,Home Improvement,-21.72,-21.72

ACTUAL AMOUNT
{'2023-04-01': -14.31, '2023-07-01': -136.89, '2023-08-01': -21.72}

MEDIAN AMOUNT
{'2023-04-01': -21.72, '2023-07-01': -21.72, '2023-08-01': -21.72}

INCOME_INTEREST_EARNED

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
130,2022-12-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.15,0.24
132,2023-01-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.22,0.24
136,2023-02-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.19,0.24
138,2023-03-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.24,0.24
131,2023-04-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.31,0.24
137,2023-05-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.32,0.24
128,2023-06-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.28,0.24
143,2023-07-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.24,0.24
133,2023-08-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.23,0.24
145,2023-09-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.19,0.24
127,2023-10-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.29,0.24
141,2023-11-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.25,0.24
135,2023-12-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.23,0.24
144,2024-01-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.18,0.24
134,2024-02-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.42,0.24
142,2024-03-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.50,0.24
140,2024-04-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.42,0.24
139,2024-05-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.15,0.24
126,2024-06-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.24,0.24
129,2024-07-01,INCOME,INCOME_INTEREST_EARNED,INCOME,INCOME_INTEREST_EARNED,Income,Interest Earned,0.17,0.24

ACTUAL AMOUNT
{'2022-12-01': 0.15, '2023-01-01': 0.22, '2023-02-01': 0.19, '2023-03-01': 0.24, '2023-04-01': 0.31, '2023-05-01': 0.32, '2023-06-01': 0.28, '2023-07-01': 0.24, '2023-08-01': 0.23, '2023-09-01': 0.19, '2023-10-01': 0.29, '2023-11-01': 0.25, '2023-12-01': 0.23, '2024-01-01': 0.18, '2024-02-01': 0.42, '2024-03-01': 0.5, '2024-04-01': 0.42, '2024-05-01': 0.15, '2024-06-01': 0.24, '2024-07-01': 0.17}

MEDIAN AMOUNT
{'2022-12-01': 0.24, '2023-01-01': 0.24, '2023-02-01': 0.24, '2023-03-01': 0.24, '2023-04-01': 0.24, '2023-05-01': 0.24, '2023-06-01': 0.24, '2023-07-01': 0.24, '2023-08-01': 0.24, '2023-09-01': 0.24, '2023-10-01': 0.24, '2023-11-01': 0.24, '2023-12-01': 0.24, '2024-01-01': 0.24, '2024-02-01': 0.24, '2024-03-01': 0.24, '2024-04-01': 0.24, '2024-05-01': 0.24, '2024-06-01': 0.24, '2024-07-01': 0.24}

INCOME_TAX_REFUND

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
64,2023-02-01,INCOME,INCOME_TAX_REFUND,INCOME,INCOME_TAX_REFUND,Income,Tax Refund,1263.11,1403.555
65,2024-03-01,INCOME,INCOME_TAX_REFUND,INCOME,INCOME_TAX_REFUND,Income,Tax Refund,1544.00,1403.555

ACTUAL AMOUNT
{'2023-02-01': 1263.11, '2024-03-01': 1544.0}

MEDIAN AMOUNT
{'2023-02-01': 1403.5549999999998, '2024-03-01': 1403.5549999999998}

INCOME_WAGES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
13,2022-11-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,3464.39,6899.770
1,2022-12-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7100.27,6899.770
12,2023-01-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6402.64,6899.770
6,2023-02-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6432.51,6899.770
18,2023-03-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6809.19,6899.770
16,2023-04-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6770.33,6899.770
3,2023-05-01,ENTERTAINMENT,ENTERTAINMENT_MUSIC_AND_AUDIO,INCOME,INCOME_WAGES,Income,Wages,12.91,27.155
15,2023-05-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6807.16,6899.770
2,2023-06-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6715.59,6899.770
14,2023-07-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7019.87,6899.770
20,2023-08-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7072.18,6899.770
5,2023-09-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6906.63,6899.770
4,2023-10-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,6899.77,6899.770
19,2023-11-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7030.42,6899.770
7,2023-12-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,8518.32,6899.770
22,2023-12-01,ENTERTAINMENT,ENTERTAINMENT_MUSIC_AND_AUDIO,INCOME,INCOME_WAGES,Income,Wages,41.40,27.155
9,2024-01-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7601.53,6899.770
10,2024-02-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,5591.13,6899.770
17,2024-03-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,5686.79,6899.770
0,2024-04-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7671.68,6899.770
21,2024-05-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,7585.11,6899.770
8,2024-06-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,9206.27,6899.770
11,2024-08-01,INCOME,INCOME_WAGES,INCOME,INCOME_WAGES,Income,Wages,217.09,6899.770

ACTUAL AMOUNT
{'2022-11-01': 3464.39, '2022-12-01': 7100.27, '2023-01-01': 6402.64, '2023-02-01': 6432.51, '2023-03-01': 6809.19, '2023-04-01': 6770.33, '2023-05-01': 6807.16, '2023-06-01': 6715.59, '2023-07-01': 7019.87, '2023-08-01': 7072.18, '2023-09-01': 6906.63, '2023-10-01': 6899.77, '2023-11-01': 7030.42, '2023-12-01': 41.4, '2024-01-01': 7601.53, '2024-02-01': 5591.13, '2024-03-01': 5686.79, '2024-04-01': 7671.68, '2024-05-01': 7585.11, '2024-06-01': 9206.27, '2024-08-01': 217.09}

MEDIAN AMOUNT
{'2022-11-01': 6899.77, '2022-12-01': 6899.77, '2023-01-01': 6899.77, '2023-02-01': 6899.77, '2023-03-01': 6899.77, '2023-04-01': 6899.77, '2023-05-01': 6899.77, '2023-06-01': 6899.77, '2023-07-01': 6899.77, '2023-08-01': 6899.77, '2023-09-01': 6899.77, '2023-10-01': 6899.77, '2023-11-01': 6899.77, '2023-12-01': 27.155, '2024-01-01': 6899.77, '2024-02-01': 6899.77, '2024-03-01': 6899.77, '2024-04-01': 6899.77, '2024-05-01': 6899.77, '2024-06-01': 6899.77, '2024-08-01': 6899.77}

MEDICAL_DENTAL_CARE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
168,2023-11-01,MEDICAL,MEDICAL_DENTAL_CARE,MEDICAL,MEDICAL_DENTAL_CARE,Expenses,Medical,-165.0,-501.0
169,2024-05-01,MEDICAL,MEDICAL_DENTAL_CARE,MEDICAL,MEDICAL_DENTAL_CARE,Expenses,Medical,-837.0,-501.0

ACTUAL AMOUNT
{'2023-11-01': -165.0, '2024-05-01': -837.0}

MEDIAN AMOUNT
{'2023-11-01': -501.0, '2024-05-01': -501.0}

MEDICAL_EYE_CARE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
178,2023-11-01,MEDICAL,MEDICAL_EYE_CARE,MEDICAL,MEDICAL_EYE_CARE,Expenses,Medical,-10.0,-10.0

ACTUAL AMOUNT
{'2023-11-01': -10.0}

MEDIAN AMOUNT
{'2023-11-01': -10.0}

MEDICAL_PHARMACIES_AND_SUPPLEMENTS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
508,2023-03-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-50.73,-23.37
503,2023-04-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-52.53,-23.37
501,2023-08-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-9.28,-23.37
504,2023-12-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-51.20,-23.37
502,2024-02-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-62.91,-23.37
507,2024-04-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-16.82,-23.37
506,2024-05-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-4.55,-23.37
505,2024-06-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-23.37,-23.37
500,2024-07-01,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,MEDICAL,MEDICAL_PHARMACIES_AND_SUPPLEMENTS,Personal Spending,Shopping,-2.49,-23.37

ACTUAL AMOUNT
{'2023-03-01': -50.73, '2023-04-01': -52.53, '2023-08-01': -9.28, '2023-12-01': -51.2, '2024-02-01': -62.91, '2024-04-01': -16.82, '2024-05-01': -4.55, '2024-06-01': -23.37, '2024-07-01': -2.49}

MEDIAN AMOUNT
{'2023-03-01': -23.37, '2023-04-01': -23.37, '2023-08-01': -23.37, '2023-12-01': -23.37, '2024-02-01': -23.37, '2024-04-01': -23.37, '2024-05-01': -23.37, '2024-06-01': -23.37, '2024-07-01': -23.37}

MEDICAL_PRIMARY_CARE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
244,2024-05-01,MEDICAL,MEDICAL_PRIMARY_CARE,MEDICAL,MEDICAL_PRIMARY_CARE,Expenses,Medical,-20.0,-20.0

ACTUAL AMOUNT
{'2024-05-01': -20.0}

MEDIAN AMOUNT
{'2024-05-01': -20.0}

PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
157,2022-11-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
163,2022-12-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-59.98,-10.0
153,2023-01-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
159,2023-02-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
156,2023-03-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
149,2023-04-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-192.35,-10.0
161,2023-05-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
151,2023-06-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-64.64,-10.0
147,2023-07-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-9.99,-10.0
148,2023-08-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-100.00,-10.0
152,2023-09-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-16.22,-10.0
146,2024-01-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-133.29,-10.0
162,2024-02-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-10.00,-10.0
150,2024-03-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-76.93,-10.0
160,2024-04-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-10.00,-10.0
155,2024-05-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-10.00,-10.0
154,2024-06-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-10.00,-10.0
158,2024-07-01,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,PERSONAL_CARE,PERSONAL_CARE_GYMS_AND_FITNESS_CENTERS,Expenses,Fitness,-10.00,-10.0

ACTUAL AMOUNT
{'2022-11-01': -9.99, '2022-12-01': -59.98, '2023-01-01': -9.99, '2023-02-01': -9.99, '2023-03-01': -9.99, '2023-04-01': -192.35, '2023-05-01': -9.99, '2023-06-01': -64.64, '2023-07-01': -9.99, '2023-08-01': -100.0, '2023-09-01': -16.22, '2024-01-01': -133.29, '2024-02-01': -10.0, '2024-03-01': -76.93, '2024-04-01': -10.0, '2024-05-01': -10.0, '2024-06-01': -10.0, '2024-07-01': -10.0}

MEDIAN AMOUNT
{'2022-11-01': -10.0, '2022-12-01': -10.0, '2023-01-01': -10.0, '2023-02-01': -10.0, '2023-03-01': -10.0, '2023-04-01': -10.0, '2023-05-01': -10.0, '2023-06-01': -10.0, '2023-07-01': -10.0, '2023-08-01': -10.0, '2023-09-01': -10.0, '2024-01-01': -10.0, '2024-02-01': -10.0, '2024-03-01': -10.0, '2024-04-01': -10.0, '2024-05-01': -10.0, '2024-06-01': -10.0, '2024-07-01': -10.0}

PERSONAL_CARE_HAIR_AND_BEAUTY

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
523,2023-08-01,PERSONAL_CARE,PERSONAL_CARE_HAIR_AND_BEAUTY,PERSONAL_CARE,PERSONAL_CARE_HAIR_AND_BEAUTY,Personal Spending,Shopping,-69.24,-69.24

ACTUAL AMOUNT
{'2023-08-01': -69.24}

MEDIAN AMOUNT
{'2023-08-01': -69.24}

PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
60,2023-08-01,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,Expenses,Laundry,-111.0,-13.0
61,2023-11-01,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,Expenses,Laundry,-2.0,-13.0
62,2024-04-01,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,PERSONAL_CARE,PERSONAL_CARE_LAUNDRY_AND_DRY_CLEANING,Expenses,Laundry,-13.0,-13.0

ACTUAL AMOUNT
{'2023-08-01': -111.0, '2023-11-01': -2.0, '2024-04-01': -13.0}

MEDIAN AMOUNT
{'2023-08-01': -13.0, '2023-11-01': -13.0, '2024-04-01': -13.0}

RENT_AND_UTILITIES_GAS_AND_ELECTRICITY

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
405,2022-12-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-54.51,-72.19
403,2023-01-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-79.68,-72.19
391,2023-02-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-106.20,-72.19
393,2023-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-100.03,-72.19
401,2023-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-61.66,-72.19
396,2023-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-59.56,-72.19
397,2023-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-69.48,-72.19
389,2023-07-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-74.90,-72.19
392,2023-08-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-277.10,-72.19
404,2023-10-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-111.88,-72.19
390,2023-11-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-92.75,-72.19
402,2023-12-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-61.99,-72.19
394,2024-01-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-53.48,-72.19
387,2024-02-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-51.86,-72.19
398,2024-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-55.99,-72.19
395,2024-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-51.66,-72.19
386,2024-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-47.38,-72.19
388,2024-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-76.97,-72.19
399,2024-07-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-89.40,-72.19
400,2024-08-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,RENT_AND_UTILITIES,RENT_AND_UTILITIES_GAS_AND_ELECTRICITY,Expenses,Utilities,-146.05,-72.19

ACTUAL AMOUNT
{'2022-12-01': -54.51, '2023-01-01': -79.68, '2023-02-01': -106.2, '2023-03-01': -100.03, '2023-04-01': -61.66, '2023-05-01': -59.56, '2023-06-01': -69.48, '2023-07-01': -74.9, '2023-08-01': -277.1, '2023-10-01': -111.88, '2023-11-01': -92.75, '2023-12-01': -61.99, '2024-01-01': -53.48, '2024-02-01': -51.86, '2024-03-01': -55.99, '2024-04-01': -51.66, '2024-05-01': -47.38, '2024-06-01': -76.97, '2024-07-01': -89.4, '2024-08-01': -146.05}

MEDIAN AMOUNT
{'2022-12-01': -72.19, '2023-01-01': -72.19, '2023-02-01': -72.19, '2023-03-01': -72.19, '2023-04-01': -72.19, '2023-05-01': -72.19, '2023-06-01': -72.19, '2023-07-01': -72.19, '2023-08-01': -72.19, '2023-10-01': -72.19, '2023-11-01': -72.19, '2023-12-01': -72.19, '2024-01-01': -72.19, '2024-02-01': -72.19, '2024-03-01': -72.19, '2024-04-01': -72.19, '2024-05-01': -72.19, '2024-06-01': -72.19, '2024-07-01': -72.19, '2024-08-01': -72.19}

RENT_AND_UTILITIES_INTERNET_AND_CABLE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
380,2023-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-75.19,-121.2
381,2023-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-75.19,-121.2
378,2023-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-75.19,-121.2
368,2023-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-75.19,-121.2
370,2023-08-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-208.81,-121.2
379,2023-09-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-75.19,-121.2
377,2023-10-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-167.13,-121.2
376,2023-11-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-121.20,-121.2
375,2023-12-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-121.20,-121.2
374,2024-01-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-121.20,-121.2
373,2024-02-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-76.30,-121.2
367,2024-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-168.32,-121.2
372,2024-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-122.29,-121.2
369,2024-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-122.29,-121.2
371,2024-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_INTERNET_AND_CABLE,Expenses,Utilities,-192.29,-121.2

ACTUAL AMOUNT
{'2023-03-01': -75.19, '2023-04-01': -75.19, '2023-05-01': -75.19, '2023-06-01': -75.19, '2023-08-01': -208.81, '2023-09-01': -75.19, '2023-10-01': -167.13, '2023-11-01': -121.2, '2023-12-01': -121.2, '2024-01-01': -121.2, '2024-02-01': -76.3, '2024-03-01': -168.32, '2024-04-01': -122.29, '2024-05-01': -122.29, '2024-06-01': -192.29}

MEDIAN AMOUNT
{'2023-03-01': -121.2, '2023-04-01': -121.2, '2023-05-01': -121.2, '2023-06-01': -121.2, '2023-08-01': -121.2, '2023-09-01': -121.2, '2023-10-01': -121.2, '2023-11-01': -121.2, '2023-12-01': -121.2, '2024-01-01': -121.2, '2024-02-01': -121.2, '2024-03-01': -121.2, '2024-04-01': -121.2, '2024-05-01': -121.2, '2024-06-01': -121.2}

RENT_AND_UTILITIES_RENT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
33,2022-12-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1529.56,-1477.160
27,2023-01-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1551.44,-1477.160
46,2023-02-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1477.16,-1477.160
43,2023-03-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1476.43,-1477.160
31,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1476.73,-1477.160
42,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1630.53,-1477.160
29,2023-06-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1477.82,-1477.160
37,2023-07-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-301.79,-1393.045
39,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1059.50,-1477.160
38,2023-08-01,LOAN_PAYMENTS,LOAN_PAYMENTS_PERSONAL_LOAN_PAYMENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-138.82,-138.820
44,2023-08-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1352.01,-1393.045
34,2023-09-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1370.48,-1393.045
41,2023-10-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1373.50,-1393.045
35,2023-11-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1395.58,-1393.045
28,2023-12-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1395.51,-1393.045
36,2024-01-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1399.66,-1393.045
48,2024-02-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1394.33,-1393.045
30,2024-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1391.99,-1393.045
47,2024-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1394.10,-1393.045
40,2024-05-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-2670.00,-1477.160
45,2024-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1387.39,-1393.045
32,2024-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-2042.90,-1393.045
25,2024-07-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1325.00,-1477.160
26,2024-08-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,RENT_AND_UTILITIES,RENT_AND_UTILITIES_RENT,Expenses,Rent,-1325.00,-1477.160

ACTUAL AMOUNT
{'2022-12-01': -1529.56, '2023-01-01': -1551.44, '2023-02-01': -1477.16, '2023-03-01': -1476.43, '2023-04-01': -1476.73, '2023-05-01': -1630.53, '2023-06-01': -1477.82, '2023-07-01': -1059.5, '2023-08-01': -1352.01, '2023-09-01': -1370.48, '2023-10-01': -1373.5, '2023-11-01': -1395.58, '2023-12-01': -1395.51, '2024-01-01': -1399.66, '2024-02-01': -1394.33, '2024-03-01': -1391.99, '2024-04-01': -1394.1, '2024-05-01': -1387.39, '2024-06-01': -2042.9, '2024-07-01': -1325.0, '2024-08-01': -1325.0}

MEDIAN AMOUNT
{'2022-12-01': -1477.16, '2023-01-01': -1477.16, '2023-02-01': -1477.16, '2023-03-01': -1477.16, '2023-04-01': -1477.16, '2023-05-01': -1477.16, '2023-06-01': -1477.16, '2023-07-01': -1477.16, '2023-08-01': -1393.045, '2023-09-01': -1393.045, '2023-10-01': -1393.045, '2023-11-01': -1393.045, '2023-12-01': -1393.045, '2024-01-01': -1393.045, '2024-02-01': -1393.045, '2024-03-01': -1393.045, '2024-04-01': -1393.045, '2024-05-01': -1393.045, '2024-06-01': -1393.045, '2024-07-01': -1477.16, '2024-08-01': -1477.16}

RENT_AND_UTILITIES_TELEPHONE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
235,2022-12-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-70.08,-69.975
234,2023-01-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-69.94,-69.975
231,2023-02-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-70.01,-69.975
243,2023-03-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-70.01,-69.975
239,2023-04-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-70.01,-69.975
242,2023-05-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-69.93,-69.975
229,2023-06-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-69.93,-69.975
240,2023-07-01,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-69.93,-69.975
230,2023-11-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-152.40,-18.690
241,2024-03-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-18.69,-18.690
238,2024-04-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-8.70,-18.690
236,2024-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-8.70,-18.690
237,2024-06-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-19.69,-18.690
232,2024-07-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-26.10,-18.690
233,2024-08-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE,Expenses,Utilities,-8.70,-18.690

ACTUAL AMOUNT
{'2022-12-01': -70.08, '2023-01-01': -69.94, '2023-02-01': -70.01, '2023-03-01': -70.01, '2023-04-01': -70.01, '2023-05-01': -69.93, '2023-06-01': -69.93, '2023-07-01': -69.93, '2023-11-01': -152.4, '2024-03-01': -18.69, '2024-04-01': -8.7, '2024-05-01': -8.7, '2024-06-01': -19.69, '2024-07-01': -26.1, '2024-08-01': -8.7}

MEDIAN AMOUNT
{'2022-12-01': -69.975, '2023-01-01': -69.975, '2023-02-01': -69.975, '2023-03-01': -69.975, '2023-04-01': -69.975, '2023-05-01': -69.975, '2023-06-01': -69.975, '2023-07-01': -69.975, '2023-11-01': -18.69, '2024-03-01': -18.69, '2024-04-01': -18.69, '2024-05-01': -18.69, '2024-06-01': -18.69, '2024-07-01': -18.69, '2024-08-01': -18.69}

TRANSFER_IN_ACCOUNT_TRANSFER

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
267,2022-12-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,517.00,221.16
272,2023-02-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,125.00,221.16
265,2023-03-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,384.00,221.16
274,2023-04-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,97.54,221.16
260,2023-06-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,40.00,221.16
277,2023-07-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,323.00,221.16
276,2023-08-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,32.54,221.16
262,2023-09-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,1294.30,221.16
264,2023-10-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,42.48,221.16
273,2023-11-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,32.00,221.16
266,2023-12-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,563.33,221.16
271,2024-01-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,139.00,221.16
275,2024-02-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,9.00,221.16
263,2024-03-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,330.67,221.16
259,2024-04-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,528.01,221.16
261,2024-05-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,3021.95,221.16
269,2024-06-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,134.00,221.16
268,2024-07-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,221.16,221.16
270,2024-08-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,Income,Deposit,8014.97,221.16

ACTUAL AMOUNT
{'2022-12-01': 517.0, '2023-02-01': 125.0, '2023-03-01': 384.0, '2023-04-01': 97.54, '2023-06-01': 40.0, '2023-07-01': 323.0, '2023-08-01': 32.54, '2023-09-01': 1294.3, '2023-10-01': 42.48, '2023-11-01': 32.0, '2023-12-01': 563.33, '2024-01-01': 139.0, '2024-02-01': 9.0, '2024-03-01': 330.67, '2024-04-01': 528.01, '2024-05-01': 3021.95, '2024-06-01': 134.0, '2024-07-01': 221.16, '2024-08-01': 8014.97}

MEDIAN AMOUNT
{'2022-12-01': 221.16, '2023-02-01': 221.16, '2023-03-01': 221.16, '2023-04-01': 221.16, '2023-06-01': 221.16, '2023-07-01': 221.16, '2023-08-01': 221.16, '2023-09-01': 221.16, '2023-10-01': 221.16, '2023-11-01': 221.16, '2023-12-01': 221.16, '2024-01-01': 221.16, '2024-02-01': 221.16, '2024-03-01': 221.16, '2024-04-01': 221.16, '2024-05-01': 221.16, '2024-06-01': 221.16, '2024-07-01': 221.16, '2024-08-01': 221.16}

TRANSFER_IN_DEPOSIT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
226,2022-12-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,300.00,141.23
221,2023-01-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,1291.86,141.23
222,2023-03-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,142.46,141.23
227,2023-06-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,140.00,141.23
228,2023-12-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,47.52,141.23
225,2024-01-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,100.00,141.23
224,2024-06-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,120.00,141.23
223,2024-07-01,TRANSFER_IN,TRANSFER_IN_DEPOSIT,TRANSFER_IN,TRANSFER_IN_DEPOSIT,Income,Deposit,220.00,141.23

ACTUAL AMOUNT
{'2022-12-01': 300.0, '2023-01-01': 1291.86, '2023-03-01': 142.46, '2023-06-01': 140.0, '2023-12-01': 47.52, '2024-01-01': 100.0, '2024-06-01': 120.0, '2024-07-01': 220.0}

MEDIAN AMOUNT
{'2022-12-01': 141.23000000000002, '2023-01-01': 141.23000000000002, '2023-03-01': 141.23000000000002, '2023-06-01': 141.23000000000002, '2023-12-01': 141.23000000000002, '2024-01-01': 141.23000000000002, '2024-06-01': 141.23000000000002, '2024-07-01': 141.23000000000002}

TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
284,2022-12-01,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,21500.00,20483.940
285,2023-09-01,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,7795.33,20483.940
278,2024-01-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,19058.00,26205.105
280,2024-04-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,15346.35,26205.105
282,2024-04-01,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,20483.94,20483.940
281,2024-05-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,33352.21,26205.105
283,2024-05-01,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_CLOTHING_AND_ACCESSORIES,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,22529.34,22529.340
279,2024-06-01,TRANSFER_IN,TRANSFER_IN_ACCOUNT_TRANSFER,TRANSFER_IN,TRANSFER_IN_INVESTMENT_AND_RETIREMENT_FUNDS,Income,Deposit,57313.57,26205.105

ACTUAL AMOUNT
{'2022-12-01': 21500.0, '2023-09-01': 7795.33, '2024-01-01': 19058.0, '2024-04-01': 20483.94, '2024-05-01': 22529.34, '2024-06-01': 57313.57}

MEDIAN AMOUNT
{'2022-12-01': 20483.94, '2023-09-01': 20483.94, '2024-01-01': 26205.105, '2024-04-01': 20483.94, '2024-05-01': 22529.34, '2024-06-01': 26205.105}

TRANSFER_OUT_ACCOUNT_TRANSFER

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
575,2022-12-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-30.00,-142.0
570,2023-02-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-125.50,-142.0
564,2023-03-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-65.00,-142.0
566,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-224.00,-142.0
574,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-115.00,-142.0
571,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-711.03,-142.0
578,2023-10-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-10.00,-142.0
572,2023-11-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-790.00,-142.0
577,2023-12-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-69.00,-142.0
573,2024-01-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-219.00,-142.0
569,2024-02-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-142.00,-142.0
576,2024-03-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-1014.79,-142.0
565,2024-04-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-272.16,-142.0
567,2024-07-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-1322.00,-142.0
568,2024-08-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,Personal Spending,Personal Payments,-140.13,-142.0

ACTUAL AMOUNT
{'2022-12-01': -30.0, '2023-02-01': -125.5, '2023-03-01': -65.0, '2023-04-01': -224.0, '2023-05-01': -115.0, '2023-07-01': -711.03, '2023-10-01': -10.0, '2023-11-01': -790.0, '2023-12-01': -69.0, '2024-01-01': -219.0, '2024-02-01': -142.0, '2024-03-01': -1014.79, '2024-04-01': -272.16, '2024-07-01': -1322.0, '2024-08-01': -140.13}

MEDIAN AMOUNT
{'2022-12-01': -142.0, '2023-02-01': -142.0, '2023-03-01': -142.0, '2023-04-01': -142.0, '2023-05-01': -142.0, '2023-07-01': -142.0, '2023-10-01': -142.0, '2023-11-01': -142.0, '2023-12-01': -142.0, '2024-01-01': -142.0, '2024-02-01': -142.0, '2024-03-01': -142.0, '2024-04-01': -142.0, '2024-07-01': -142.0, '2024-08-01': -142.0}

TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
182,2022-12-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
183,2023-01-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
185,2023-02-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
179,2023-03-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-1666.66,-666.66
186,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
181,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
187,2023-06-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-666.66,-666.66
184,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-1166.66,-666.66
180,2023-08-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_CRYPTO,Personal Investments,Crypto,-1000.00,-666.66

ACTUAL AMOUNT
{'2022-12-01': -666.66, '2023-01-01': -666.66, '2023-02-01': -666.66, '2023-03-01': -1666.66, '2023-04-01': -666.66, '2023-05-01': -666.66, '2023-06-01': -666.66, '2023-07-01': -1166.66, '2023-08-01': -1000.0}

MEDIAN AMOUNT
{'2022-12-01': -666.66, '2023-01-01': -666.66, '2023-02-01': -666.66, '2023-03-01': -666.66, '2023-04-01': -666.66, '2023-05-01': -666.66, '2023-06-01': -666.66, '2023-07-01': -666.66, '2023-08-01': -666.66}

TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
249,2022-12-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1333.0,-1666.0
255,2023-01-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1666.0,-1666.0
253,2023-02-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1666.0,-1666.0
247,2023-03-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1666.0,-1666.0
256,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-666.0,-1666.0
254,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-2666.0,-1666.0
252,2023-06-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1666.0,-1666.0
250,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-666.0,-1666.0
251,2023-08-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1200.0,-1666.0
246,2023-09-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1700.0,-1666.0
248,2023-10-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1700.0,-1666.0
257,2023-11-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_REAL_ESTATE,Personal Investments,Real Estate,-1700.0,-1666.0

ACTUAL AMOUNT
{'2022-12-01': -1333.0, '2023-01-01': -1666.0, '2023-02-01': -1666.0, '2023-03-01': -1666.0, '2023-04-01': -666.0, '2023-05-01': -2666.0, '2023-06-01': -1666.0, '2023-07-01': -666.0, '2023-08-01': -1200.0, '2023-09-01': -1700.0, '2023-10-01': -1700.0, '2023-11-01': -1700.0}

MEDIAN AMOUNT
{'2022-12-01': -1666.0, '2023-01-01': -1666.0, '2023-02-01': -1666.0, '2023-03-01': -1666.0, '2023-04-01': -1666.0, '2023-05-01': -1666.0, '2023-06-01': -1666.0, '2023-07-01': -1666.0, '2023-08-01': -1666.0, '2023-09-01': -1666.0, '2023-10-01': -1666.0, '2023-11-01': -1666.0}

TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
198,2022-12-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-766.66,-1700.0
193,2023-01-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-4566.66,-1700.0
201,2023-02-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
204,2023-03-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
197,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
206,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
188,2023-06-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
196,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-666.66,-1700.0
170,2023-08-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Other,-38.40,-38.4
203,2023-08-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-1200.00,-1700.0
199,2023-09-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-1700.00,-1700.0
200,2023-10-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-1700.00,-1700.0
195,2023-11-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-1700.00,-1700.0
190,2023-12-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-8400.00,-1700.0
205,2024-01-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-5400.00,-1700.0
194,2024-02-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-3400.00,-1700.0
202,2024-03-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-3400.00,-1700.0
191,2024-04-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-53400.00,-1700.0
189,2024-05-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-43862.96,-1700.0
192,2024-06-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-69233.39,-1700.0
207,2024-07-01,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS,TRANSFER_OUT,TRANSFER_OUT_INVESTMENT_AND_RETIREMENT_FUNDS_STOCKS,Personal Investments,Stocks,-1700.00,-1700.0

ACTUAL AMOUNT
{'2022-12-01': -766.66, '2023-01-01': -4566.66, '2023-02-01': -666.66, '2023-03-01': -666.66, '2023-04-01': -666.66, '2023-05-01': -666.66, '2023-06-01': -666.66, '2023-07-01': -666.66, '2023-08-01': -1200.0, '2023-09-01': -1700.0, '2023-10-01': -1700.0, '2023-11-01': -1700.0, '2023-12-01': -8400.0, '2024-01-01': -5400.0, '2024-02-01': -3400.0, '2024-03-01': -3400.0, '2024-04-01': -53400.0, '2024-05-01': -43862.96, '2024-06-01': -69233.39, '2024-07-01': -1700.0}

MEDIAN AMOUNT
{'2022-12-01': -1700.0, '2023-01-01': -1700.0, '2023-02-01': -1700.0, '2023-03-01': -1700.0, '2023-04-01': -1700.0, '2023-05-01': -1700.0, '2023-06-01': -1700.0, '2023-07-01': -1700.0, '2023-08-01': -1700.0, '2023-09-01': -1700.0, '2023-10-01': -1700.0, '2023-11-01': -1700.0, '2023-12-01': -1700.0, '2024-01-01': -1700.0, '2024-02-01': -1700.0, '2024-03-01': -1700.0, '2024-04-01': -1700.0, '2024-05-01': -1700.0, '2024-06-01': -1700.0, '2024-07-01': -1700.0}

TRANSFER_OUT_OTHER_TRANSFER_OUT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
303,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-33.69,-35.00
315,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-86.87,-86.87
306,2023-08-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-54.20,-35.00
302,2023-09-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-390.00,-35.00
304,2023-09-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-33.48,-86.87
319,2023-11-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-35.00,-35.00
321,2023-11-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-259.56,-86.87
309,2023-12-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-125.00,-86.87
308,2024-01-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-15.19,-86.87
317,2024-02-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-421.00,-86.87
297,2024-04-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-52.74,-86.87
312,2024-05-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-104.14,-86.87
300,2024-06-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-8.00,-35.00
320,2024-06-01,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-35.00,-86.87
318,2024-07-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-1.14,-35.00
311,2024-08-01,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,TRANSFER_OUT,TRANSFER_OUT_OTHER_TRANSFER_OUT,Personal Spending,Shopping,-43.88,-35.00

ACTUAL AMOUNT
{'2023-04-01': -33.69, '2023-05-01': -86.87, '2023-08-01': -54.2, '2023-09-01': -33.48, '2023-11-01': -259.56, '2023-12-01': -125.0, '2024-01-01': -15.19, '2024-02-01': -421.0, '2024-04-01': -52.74, '2024-05-01': -104.14, '2024-06-01': -35.0, '2024-07-01': -1.14, '2024-08-01': -43.88}

MEDIAN AMOUNT
{'2023-04-01': -35.0, '2023-05-01': -86.87, '2023-08-01': -35.0, '2023-09-01': -86.87, '2023-11-01': -86.87, '2023-12-01': -86.87, '2024-01-01': -86.87, '2024-02-01': -86.87, '2024-04-01': -86.87, '2024-05-01': -86.87, '2024-06-01': -86.87, '2024-07-01': -35.0, '2024-08-01': -35.0}

TRANSFER_OUT_WITHDRAWAL

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
292,2023-01-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-100.00,-130.0
290,2023-04-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-160.00,-130.0
287,2023-05-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-206.00,-130.0
289,2023-07-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-150.69,-130.0
293,2024-01-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-40.00,-130.0
286,2024-02-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-120.00,-130.0
288,2024-06-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-80.00,-130.0
291,2024-07-01,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,TRANSFER_OUT,TRANSFER_OUT_WITHDRAWAL,Personal Spending,Cash Withdrawal,-140.00,-130.0

ACTUAL AMOUNT
{'2023-01-01': -100.0, '2023-04-01': -160.0, '2023-05-01': -206.0, '2023-07-01': -150.69, '2024-01-01': -40.0, '2024-02-01': -120.0, '2024-06-01': -80.0, '2024-07-01': -140.0}

MEDIAN AMOUNT
{'2023-01-01': -130.0, '2023-04-01': -130.0, '2023-05-01': -130.0, '2023-07-01': -130.0, '2024-01-01': -130.0, '2024-02-01': -130.0, '2024-06-01': -130.0, '2024-07-01': -130.0}

TRANSPORTATION_GAS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
71,2023-03-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-144.30,-71.11
72,2023-04-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-95.26,-71.11
80,2023-05-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-62.84,-71.11
69,2023-06-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-92.47,-71.11
76,2023-07-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-62.50,-71.11
73,2023-08-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-71.11,-71.11
82,2023-09-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-54.08,-71.11
66,2023-10-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-61.18,-71.11
77,2023-11-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-116.27,-71.11
78,2023-12-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-37.33,-71.11
81,2024-01-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-39.16,-71.11
70,2024-02-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-85.60,-71.11
74,2024-03-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-57.08,-71.11
75,2024-04-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-149.05,-71.11
67,2024-05-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-68.96,-71.11
79,2024-06-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-93.77,-71.11
68,2024-07-01,TRANSPORTATION,TRANSPORTATION_GAS,TRANSPORTATION,TRANSPORTATION_GAS,Expenses,Car,-104.37,-71.11

ACTUAL AMOUNT
{'2023-03-01': -144.3, '2023-04-01': -95.26, '2023-05-01': -62.84, '2023-06-01': -92.47, '2023-07-01': -62.5, '2023-08-01': -71.11, '2023-09-01': -54.08, '2023-10-01': -61.18, '2023-11-01': -116.27, '2023-12-01': -37.33, '2024-01-01': -39.16, '2024-02-01': -85.6, '2024-03-01': -57.08, '2024-04-01': -149.05, '2024-05-01': -68.96, '2024-06-01': -93.77, '2024-07-01': -104.37}

MEDIAN AMOUNT
{'2023-03-01': -71.11, '2023-04-01': -71.11, '2023-05-01': -71.11, '2023-06-01': -71.11, '2023-07-01': -71.11, '2023-08-01': -71.11, '2023-09-01': -71.11, '2023-10-01': -71.11, '2023-11-01': -71.11, '2023-12-01': -71.11, '2024-01-01': -71.11, '2024-02-01': -71.11, '2024-03-01': -71.11, '2024-04-01': -71.11, '2024-05-01': -71.11, '2024-06-01': -71.11, '2024-07-01': -71.11}

TRANSPORTATION_PARKING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
486,2023-03-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-3.76,-13.5
491,2023-05-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-1.50,-13.5
495,2023-05-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-7.75,-16.0
487,2023-06-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-25.00,-16.0
481,2023-08-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-11.00,-16.0
485,2023-08-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-3.00,-13.5
482,2023-09-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-21.00,-16.0
498,2023-09-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-16.00,-13.5
484,2023-10-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-31.00,-16.0
497,2023-10-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-15.00,-13.5
480,2023-11-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-44.25,-16.0
494,2023-11-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-50.00,-13.5
489,2023-12-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-4.50,-16.0
492,2024-02-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-9.75,-13.5
488,2024-03-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-20.00,-13.5
483,2024-04-01,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-3.00,-16.0
499,2024-04-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-12.00,-13.5
493,2024-05-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-34.50,-13.5
496,2024-06-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-40.00,-13.5
490,2024-07-01,TRANSPORTATION,TRANSPORTATION_PARKING,TRANSPORTATION,TRANSPORTATION_PARKING,Personal Spending,Transportation,-2.75,-13.5

ACTUAL AMOUNT
{'2023-03-01': -3.76, '2023-05-01': -7.75, '2023-06-01': -25.0, '2023-08-01': -3.0, '2023-09-01': -16.0, '2023-10-01': -15.0, '2023-11-01': -50.0, '2023-12-01': -4.5, '2024-02-01': -9.75, '2024-03-01': -20.0, '2024-04-01': -12.0, '2024-05-01': -34.5, '2024-06-01': -40.0, '2024-07-01': -2.75}

MEDIAN AMOUNT
{'2023-03-01': -13.5, '2023-05-01': -16.0, '2023-06-01': -16.0, '2023-08-01': -13.5, '2023-09-01': -13.5, '2023-10-01': -13.5, '2023-11-01': -13.5, '2023-12-01': -16.0, '2024-02-01': -13.5, '2024-03-01': -13.5, '2024-04-01': -13.5, '2024-05-01': -13.5, '2024-06-01': -13.5, '2024-07-01': -13.5}

TRANSPORTATION_PUBLIC_TRANSIT

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
382,2023-05-01,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,Expenses,Transportation,-5.00,-75.275
383,2024-05-01,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,Expenses,Transportation,-603.91,-75.275
384,2024-07-01,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,Expenses,Transportation,-14.30,-75.275
385,2024-08-01,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,TRANSPORTATION,TRANSPORTATION_PUBLIC_TRANSIT,Expenses,Transportation,-136.25,-75.275

ACTUAL AMOUNT
{'2023-05-01': -5.0, '2024-05-01': -603.91, '2024-07-01': -14.3, '2024-08-01': -136.25}

MEDIAN AMOUNT
{'2023-05-01': -75.275, '2024-05-01': -75.275, '2024-07-01': -75.275, '2024-08-01': -75.275}

TRANSPORTATION_TAXIS_AND_RIDE_SHARES

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
439,2023-05-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-64.97,-37.43
442,2023-07-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-34.92,-37.43
444,2023-08-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-39.94,-37.43
440,2023-09-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-20.60,-37.43
443,2023-11-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-49.82,-37.43
441,2024-01-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-8.25,-37.43
445,2024-03-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-42.00,-37.43
437,2024-04-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-12.81,-37.43
435,2024-05-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-69.49,-37.43
436,2024-06-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-15.88,-37.43
434,2024-07-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-81.08,-37.43
438,2024-08-01,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,Personal Spending,Transportation,-28.92,-37.43

ACTUAL AMOUNT
{'2023-05-01': -64.97, '2023-07-01': -34.92, '2023-08-01': -39.94, '2023-09-01': -20.6, '2023-11-01': -49.82, '2024-01-01': -8.25, '2024-03-01': -42.0, '2024-04-01': -12.81, '2024-05-01': -69.49, '2024-06-01': -15.88, '2024-07-01': -81.08, '2024-08-01': -28.92}

MEDIAN AMOUNT
{'2023-05-01': -37.43, '2023-07-01': -37.43, '2023-08-01': -37.43, '2023-09-01': -37.43, '2023-11-01': -37.43, '2024-01-01': -37.43, '2024-03-01': -37.43, '2024-04-01': -37.43, '2024-05-01': -37.43, '2024-06-01': -37.43, '2024-07-01': -37.43, '2024-08-01': -37.43}

TRANSPORTATION_TOLLS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
245,2024-03-01,TRANSPORTATION,TRANSPORTATION_TOLLS,TRANSPORTATION,TRANSPORTATION_TOLLS,Expenses,Transportation,-321.67,-321.67

ACTUAL AMOUNT
{'2024-03-01': -321.67}

MEDIAN AMOUNT
{'2024-03-01': -321.67}

TRAVEL_FLIGHTS

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
324,2023-03-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-315.81,-248.1
326,2023-05-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-27.00,-248.1
329,2023-07-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-392.80,-248.1
322,2023-12-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-578.38,-248.1
327,2024-03-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-61.20,-248.1
325,2024-06-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-415.73,-248.1
323,2024-07-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-180.39,-248.1
328,2024-08-01,TRAVEL,TRAVEL_FLIGHTS,TRAVEL,TRAVEL_FLIGHTS,Personal Spending,Travel,-80.00,-248.1

ACTUAL AMOUNT
{'2023-03-01': -315.81, '2023-05-01': -27.0, '2023-07-01': -392.8, '2023-12-01': -578.38, '2024-03-01': -61.2, '2024-06-01': -415.73, '2024-07-01': -180.39, '2024-08-01': -80.0}

MEDIAN AMOUNT
{'2023-03-01': -248.1, '2023-05-01': -248.1, '2023-07-01': -248.1, '2023-12-01': -248.1, '2024-03-01': -248.1, '2024-06-01': -248.1, '2024-07-01': -248.1, '2024-08-01': -248.1}

TRAVEL_LODGING

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
331,2023-04-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-473.93,-103.515
336,2023-05-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-2.21,-103.515
332,2023-07-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-122.03,-103.515
337,2023-11-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-75.00,-103.515
335,2024-01-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-85.00,-103.515
334,2024-02-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-299.22,-103.515
330,2024-05-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-3605.55,-103.515
333,2024-07-01,TRAVEL,TRAVEL_LODGING,TRAVEL,TRAVEL_LODGING,Personal Spending,Travel,-17.40,-103.515

ACTUAL AMOUNT
{'2023-04-01': -473.93, '2023-05-01': -2.21, '2023-07-01': -122.03, '2023-11-01': -75.0, '2024-01-01': -85.0, '2024-02-01': -299.22, '2024-05-01': -3605.55, '2024-07-01': -17.4}

MEDIAN AMOUNT
{'2023-04-01': -103.515, '2023-05-01': -103.515, '2023-07-01': -103.515, '2023-11-01': -103.515, '2024-01-01': -103.515, '2024-02-01': -103.515, '2024-05-01': -103.515, '2024-07-01': -103.515}

TRAVEL_OTHER_TRAVEL

,transaction_month,category_raw,subcategory_raw,category_updated,subcategory_updated,category,subcategory,amount,median_per_category
258,2024-07-01,TRAVEL,TRAVEL_OTHER_TRAVEL,TRAVEL,TRAVEL_OTHER_TRAVEL,Personal Spending,Travel,-16.8,-16.8

ACTUAL AMOUNT
{'2024-07-01': -16.8}

MEDIAN AMOUNT
{'2024-07-01': -16.8}